body {
	font-family: Arial;
	font-size: 15px;
	color: #2E2E2E;
	margin: 0;
	padding: 0;
}

form {
	width: 300px;
	margin: 0 auto;
	margin-top: 30px;
	border: 1px dashed #aaaaaa;
	border-radius: 5px;
	padding: 10px 15px;
}

h3 {
	margin: 8px 0;
}

input {
	border-radius: 3px;
	border: 1px solid #BDBDBD;
	padding: 3px;
	margin-bottom: 5px;
}
	input.button {
		cursor: pointer;
		padding: 5px 10px;
	}

textarea {
	border: 1px solid #bdbdbd;
	padding: 2px;
	border-radius: 3px;
	margin-bottom: 5px;
}

.fv-incorrect-email {
	color: red;
	padding: 4px 8px;
	font-size: 13px;
	border-top: 2px solid #FFC7C7;
	width: 86%;
	margin: 0 4px;
	background: #FDF0F0;
}